@model KLTN.Models.Account

@{
    ViewData["Title"] = "Chi tiết tài khoản";
}

<h2 class="page-title">Chi tiết tài khoản</h2>

<form class="account-form">
    <input type="hidden" asp-for="IdUser" />

    <div class="form-group">
        <label for="UserName" class="form-label">Tên đăng nhập</label>
        <input type="text" class="form-control" id="UserName" name="UserName" value="@Model.UserName" readonly />
    </div>

    <div class="form-group">
        <label for="Role" class="form-label">Vai trò</label><br />
        <input type="text" class="form-control" id="Role" name="Role"
            value="@(Model.Role == 0 ? "Admin" : Model.Role == 1 ? "Chủ trọ" : "Người tìm thuê")" readonly />
    </div>

    <div class="form-group">
        <label for="PhoneNumber" class="form-label">Số điện thoại</label>
        <input type="text" class="form-control" id="PhoneNumber" name="PhoneNumber" value="@Model.PhoneNumber"
            readonly />
    </div>

    <div class="form-group">
        <label for="Email" class="form-label">Email</label>
        <input type="email" class="form-control" id="Email" name="Email" value="@Model.Email" readonly />
    </div>

    <div class="form-group">
        <label for="FreePostUsed" class="form-label">Số bài đăng free đã dùng</label>
        <input type="text" class="form-control" id="FreePostsUsed" name="FreePostsUsed" value="@Model.FreePostsUsed"
            readonly />
    </div>

    <button type="button" class="btn btn-primary btn-submit" onclick="window.history.back();">Quay lại</button>
</form>

<style>
    body {
        font-family: 'Arial', sans-serif;
        background-color: #f4f7fc;
        color: #333;
        margin: 0;
        padding: 0;
    }

    .page-title {
        text-align: center;
        color: #5d5d5d;
        margin-top: 30px;
        font-size: 30px;
        font-weight: bold;
    }

    .account-form {
        width: 50%;
        margin: 40px auto;
        background-color: #ffffff;
        padding: 30px;
        border-radius: 10px;
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    }

    .form-group {
        margin-bottom: 20px;
    }

    .form-label {
        font-weight: bold;
        color: #555;
    }

    .form-control {
        width: 100%;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
        font-size: 14px;
        margin-top: 8px;
        background-color: #f9f9f9;
    }

    .btn-submit {
        width: 100%;
        padding: 10px;
        border: none;
        color: white;
        font-size: 16px;
        border-radius: 5px;
        cursor: pointer;
    }
</style>
